!!!5
%html.no-js(lang='ru'){class: data.page.head_classes}
  %head
    %meta(charset='utf-8')
    %meta(http-equiv='X-UA-Compatible' content='IE=edge')
    %title= page_title
    %meta(name='description' content='Syntactically Awesome Style Sheets')
    %meta(name='viewport' content='width=device-width, initial-scale=1')
    %link(rel="alternate" type="application/atom+xml" href="/feed.xml")

    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:300,400,600|Source+Serif+Pro'
    = stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/@docsearch/css@alpha'
    = stylesheet_link_tag 'sass'
    = yield_content :css
    %noscript= stylesheet_link_tag 'noscript'

    -# Google Tag Manager
    :javascript
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PCCZT7S');
    -# End Google Tag Manager

    = yield_content :js_head

  %body{class: page_classes}
    -# Google Tag Manager (noscript)
    %noscript
      %iframe{ :src => 'https://www.googletagmanager.com/ns.html?id=GTM-PCCZT7S', :style => 'display:none;visibility:hidden',:height => '0', :width => '0'}
    -# End Google Tag Manager (noscript)

    /[if lt IE 9]
      %p.browserupgrade
        You are using an
        %strong outdated
        browser. Please
        = link_to 'upgrade your browser', 'https://browsehappy.com/'
        to improve your experience and security.

    %header.sl-r-banner(itemtype='http://schema.org/WPHeader' itemscope='itemscope' role='banner')
      .sl-c-pop-stripe
      .sl-l-container
        .sl-l-grid.sl-l-grid--full.sl-l-large-grid--fit.sl-l-large-grid--center.sl-l-large-grid--gutters
          %p.sl-l-grid__column.sl-r-banner__brand
            = link_to '/' do
              = image_tag 'logos/logo.svg', alt: 'Sass', height: '48'

          %nav.sl-r-banner__navigation.sl-l-grid__column.sl-l-large-grid.sl-l-large-grid__column--auto-size.sl-c-list-horizontal-wrapper(itemtype='http://schema.org/SiteNavigationElement' itemscope='itemscope' role='navigation' aria-label='Site navigation')
            :markdown
              - [Установить](/install)
              - [Изучить Sass](/guide)
              - [Блог](/blog)
              - [Документация](/documentation)
              - [Принять участие](/community)
              - <div id="docsearch"></div>

    %main{:class => "content", :id => "main-content"}(itemprop='mainContentOfPage' role='main')
      - unless typedoc?
        %h1.sl-l-container
          - if current_page.data.h1?
            = Typogruby.improve(current_page.data.h1)

          - elsif current_page.data.title
            = Typogruby.improve(current_page.data.title)


      - section_class = ''

      - unless current_page.data.h1 == 'CSS с супервозможностями'
        - section_class = 'sl-l-section'

      .sl-l-container.sl-background--white{class: section_class}= yield

      .sl-c-alert
        .sl-l-container.sl-c-list-horizontal-wrapper(aria-labelledby='release-nav')
          %ul.sl-l-grid--justify-center
            %li#release-nav
              Текущие релизы:

            %li
              %span.release-name<
                = link_to 'Dart Sass', '/dart-sass'
                -# Force space between the two links.
                &#32;
                = link_to impl_version(:dart) || '???', release_url(:dart)

            %li
              %span.release-name<
                = link_to 'LibSass', '/libsass'
                -# Force space between the two links.
                &#32;
                = link_to impl_version(:libsass) || '???', release_url(:libsass)

            %li
              %span.release-name<
                = link_to 'Ruby Sass', '/ruby-sass'
                -# Force space between the link and the coffin.
                %span(role='presentation' aria-label='coffin')
                  &#32; ⚰

            %li.sl-l-grid__column.sl-l-large-grid__column--auto-size
              = link_to 'Руководство по внедрению', '/implementation'

      - if content_for?(:section_bottom)
        %section.sl-background--white.sl-l-container= Typogruby.improve(yield_content :section_bottom)

    %footer.site-footer.contentinfo(itemtype='http://schema.org/WPFooter' itemscope='itemscope' role='contentinfo')
      .sl-l-container.sl-l-section
        .sl-l-grid.sl-l-grid--full.sl-l-large-grid--fit.sl-l-large-grid--center.sl-l-large-grid--gutters
          .sl-l-grid__column
            :markdown
              Sass &copy; 2006&ndash;#{Date.today.year} команда Sass и многочисленные участники. Он доступен для использования и модификации по [лицензии MIT&nbsp;][license].

              [license]: https://github.com/sass/dart-sass/blob/master/LICENSE

            %nav.sl-c-list-horizontal-wrapper
              :markdown
                - [Sass на GitHub](https://github.com/sass)
                - [Исходный код веб-сайта](https://github.com/w3ref/sass-site)
                - [Руководство по стилю](/styleguide)
                - [Рекомендации сообщества](/community-guidelines)

          .sl-l-grid__column.sl-l-large-grid__column--auto-size.sl-l-large-grid--justify-right
            %a.twitter-follow-button(href='https://twitter.com/SassCSS' data-show-count='false' data-size='large')
              Следите за @SassCSS

            %a(href='https://www.macstadium.com/')
              %img.mac-stadium-icon(src='https://uploads-ssl.webflow.com/5ac3c046c82724970fc60918/5c019d917bba312af7553b49_MacStadium-developerlogo.png' alt='Powered by MacStadium')

            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

    = javascript_include_tag 'https://cdn.jsdelivr.net/npm/@docsearch/js@alpha'
    :javascript
      docsearch({
        container: '#docsearch',
        appId: 'MRT2OOVJQA',
        indexName: 'sass-lang-su',
        apiKey: '8c1a48bcec49bb5ba95b4f01525f4fdc',
        transformItems: function(hits) {
          var domain = window.location.origin + "/";
          hits.forEach(function(hit) {
            if (!hit.url.startsWith(domain)) {
              hit.url = hit.url.replace(/^https?:\/\/[^\/]+\//, domain);
            }
          });
          return hits;
        },
      });
    = javascript_include_tag 'sass'
    = yield_content :js_foot
