---
title: Установка Sass
no_container: true
---

.sl-l-grid.sl-l-grid--full.sl-l-large-grid--fit.sl-l-large-grid--gutters-large
  .sl-l-grid__column
    :markdown
      ## Приложения

      ![Mouse](illustrations/mouse.svg)

      Существует множество приложений, которые позволят вам за несколько минут начать работу с Sass для Mac, Windows и Linux.
      Вы можете скачать большинство приложений бесплатно, но некоторые из них являются платными <small>(и они того стоят)</small>.

    %ul
      %li
        = link_to "CodeKit", "https://codekitapp.com/"
        (Платно)
        Mac

      %li
        = link_to 'Hammer', 'http://hammerformac.com/'
        (Платно)
        Mac

      %li
        = link_to 'LiveReload', 'http://livereload.com/'
        (Платно, Open Source)
        Mac
        Windows

      %li
        = link_to 'Prepros', 'https://prepros.io/'
        (Платно)
        Mac
        Windows
        Linux

      %li
        = link_to 'Scout-App', 'http://scout-app.io/'
        (Бесплатно, С открытым исходным кодом)
        Windows
        Linux
        Mac

    :markdown
      ## Библиотеки

     Команда Sass поддерживает два пакета Node.js для Sass, оба из которых поддерживают [стандартный JavaScript API][the standard JavaScript API].
     [Пакет `sass`][`sass` package] представляет собой чистый JavaScript, который немного медленнее, но может быть установлен на всех платформах, поддерживаемых Node.js.
     [Пакет `sass-embedded`][`sass-embedded` package] оборачивает JS API вокруг виртуальной машины Dart, поэтому он работает быстрее, но поддерживает только Windows, Mac OS и Linux.

      [the standard JavaScript API]: /documentation/js-api
      [`sass` package]: https://www.npmjs.com/package/sass
      [`sass-embedded` package]: https://www.npmjs.com/package/sass-embedded

      Существуют также поддерживаемые сообществом оболочки для следующих языков:

    %ul
      %li
        #{link_to 'Java', 'https://mvnrepository.com/artifact/de.larsgrefer.sass'},
        including
        #{link_to 'Gradle', 'https://docs.freefair.io/gradle-plugins/current/reference/#_embedded_sass'}
        and
        #{link_to 'Maven', 'https://github.com/HebiRobotics/sass-cli-maven-plugin'}
        plugins.

      %li
        #{link_to 'Ruby', 'https://github.com/ntkme/sass-embedded-host-ruby#readme'}

      %li
        #{link_to 'Swift', 'https://github.com/johnfairh/swift-sass#readme'}

  .sl-l-grid__column
    :markdown
      ## Командная строка

      ![Keyboard](illustrations/keyboard.svg)

      Когда вы устанавливаете Sass в командной строке, вы сможете запустить исполняемый файл `sass` для компиляции файлов `.sass` и `.scss` в файлы `.css`.
      Например:

          sass source/stylesheets/index.scss build/stylesheets/index.css

      Сначала установите Sass, используя один из вариантов ниже, затем запустите `sass --version` , чтобы убедиться, что он установлен правильно. Если это так, это будет включать `#{impl_version(:dart)}`.
      Вы также можете запустить `sass --help` для получения дополнительной информации об интерфейсе командной строки.

      Как только все будет готово, <strong>иди и играй</strong>.
      Если вы новичок в Sass, мы подготовили несколько ресурсов, которые помогут вам быстро освоиться.

    %p= link_to 'Узнать больше о Sass', '/guide', :class => 'sl-c-button sl-c-button--primary'

    %dl
      %dt Установка в любом месте (автономная)

      %dd
        Вы можете установить Sass на Windows, Mac или Linux, загрузив пакет для своей операционной системы
        #{link_to 'с GitHub', release_url(:dart)} и
        <a href='https://katiek2.github.io/path-doc/'>добавив его в свой <code>PATH</code></a>.
        Вот и все - никаких внешних зависимостей и ничего больше устанавливать не нужно.

      %dt Установка в любом месте (npm)

      %dd
        %p
          Если вы используете Node.js, вы также можете установить Sass с помощью npm, запустив
          <a href='https://www.npmjs.com/'>npm</a>

        %pre
          :preserve
            npm install -g sass

        <strong>Однако обратите внимание</strong>, что при этом будет установлена чистая реализация Sass на JavaScript, которая работает несколько медленнее, чем другие варианты, перечисленные здесь.
        Но у него тот же интерфейс, поэтому позже, если вам понадобится немного больше скорости, будет легко заменить его на другую реализацию!

      %dt Установка на Windows (Chocolatey)

      %dd
        %p
          Если вы используете <a href='https://chocolatey.org/'>менеджер пакетов Chocolatey</a> для Windows, вы можете установить Dart Sass, запустив

        %pre
          :preserve
            choco install sass

      %dt Установка на Mac OS X или Linux (Homebrew)

      %dd
        %p
          Если вы используете <a href='https://brew.sh/'>менеджер пакетов  Homebrew</a> для Mac OS X или Linux, вы можете установить Dart Sass, запустив

        %pre
          :preserve
            brew install sass/sass/sass
