---
title: Руководство по бренду
---

:markdown
  ## Использование бренда

  - Не растягивайте и не искажайте логотип. Используйте "seal" версии логотипа, когда необходимо использовать квадратное изображение (например, аватары).
  - Не меняйте цвет логотипа. Официальный цвет логотипа - `$sl-color--hopbush` (`#c69`).
  - Если вам нужно разместить логотип на ярком/ярком фоне, вы можете использовать один из перевернутых (на белом) логотипов, представленных здесь.
  - При использовании бренда и фирменного стиля Sass в ваших презентациях, статьях, видео или любых других средствах массовой информации, пожалуйста, будьте уважительны.
    Бренд Sass женственный, и нам это нравится.
    Но наш бренд никогда не должен использоваться вместе с сексистскими образами.
    Фактически, мы [явно изменили наш логотип](https://github.com/sass/sass/issues/349) именно по этой причине.
    Прочтите наши [принципы сообщества](/community-guidelines) для получения дополнительной информации.
    Если у вас есть вопросы об изображениях, которые вы хотите использовать, свяжитесь с нами по адресу:

= succeed "." do
  :javascript
    //<![CDATA[
      <!--
        var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
        "=92){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
        ".substr(0,ol);}f(\")65,\\\"#'-<6-s>,ban\\\"\\\\ldhd*uvepBxt720\\\\320\\\\t\\"+
        "\\620\\\\720\\\\620\\\\330\\\\IT)700\\\\100\\\\720\\\\520\\\\120\\\\n\\\\20" +
        "0\\\\M520\\\\730\\\\300\\\\700\\\\530\\\\n\\\\310\\\\n\\\\700\\\\C120\\\\22" +
        "0\\\\100\\\\410\\\\~84/z516;020\\\\v710\\\\o4<;'9li620\\\\&$+#r\\\\d630\\\\" +
        ";5)QKPQTy130\\\\KDWfo610\\\\FRUELX_420\\\\GF410\\\\@n\\\\200\\\\n\\\\600\\\\"+
        "D330\\\\420\\\\700\\\\620\\\\$230\\\\620\\\\010\\\\610\\\\*3038`6,;?49q610\\"+
        "\\l6*<%l*vk`)* 0*06nKPXQNYV\\\\\\\\\\\"(f};o nruter};))++y(^)i(tAedoCrahc.x" +
        "(edoCrahCmorf.gnirtS=+o;721=%y;i=+y)65==i(fi{)++i;l<i;0=i(rof;htgnel.x=l,\\" +
        "\"\\\"=o,i rav{)y,x(f noitcnuf\")"                                           ;
        while(x=eval(x));
      //-->
    //]]>

%p= link_to "Скачать векторные логотипы", "/assets/img/styleguide/sass-logo.zip", class: "sl-c-button sl-c-button--primary"
%p= partial "/styleguide/brand_license"



%h3 Стандарт

%ul.sl-l-grid.sl-l-grid--full.sl-l-large-grid--fit.sl-l-large-grid--gutters-large.sl-l-large-grid--center
  %li.sl-l-grid__column= image_tag "styleguide/color.png", height: "80", alt: "Sass"
  %li.sl-l-grid__column= image_tag "styleguide/seal-color.png", height: "80", alt: "Sass"

%h3 Белый

%ul.sl-l-grid.sl-l-grid--full.sl-l-large-grid--fit.sl-l-large-grid--gutters-large.sl-l-large-grid--center.sl-background--midnight-blue
  %li.sl-l-grid__column= image_tag "styleguide/white.png", height: "80", alt: "Sass"
  %li.sl-l-grid__column= image_tag "styleguide/seal-color-reversed.png", height: "80", alt: "Sass"
  %li.sl-l-grid__column= image_tag "styleguide/seal-black-reversed.png", height: "80", alt: "Sass"

%h3 Черный

%ul.sl-l-grid.sl-l-grid--full.sl-l-large-grid--fit.sl-l-large-grid--gutters-large.sl-l-large-grid--center
  %li.sl-l-grid__column= image_tag "styleguide/black.png", height: "80", alt: "Sass"
  %li.sl-l-grid__column= image_tag "styleguide/seal-black.png", height: "80", alt: "Sass"
