---
title: Компоненты
---

%h2 Закрыто
%dl.sl-c-description-list.sl-c-description-list--horizontal
  %div
    %dt Dart Sass
    %dd ✓

  %div
    %dt Ruby Sass

    %dd since 3.5.0

  %div= link_to '▶︎', '#'

%h2 Открыто
%dl.sl-c-description-list.sl-c-description-list--horizontal
  %div
    %dt Dart Sass
    %dd ✓

  %div
    %dt Ruby Sass

    %dd since 3.5.0

  %div= link_to '▼', '#'

.sl-c-callout
  %p= lorem.paragraph

%h2 Уведомления
.sl-c-alert
  .sl-l-container
    %p
      %strong Уведомление
      = lorem.sentence

.sl-c-alert.sl-c-alert--info
  .sl-l-container
    %p
      %strong Информационное Уведомление
      = lorem.sentence

%h2 Кнопки
= link_to 'Ссылка', '#', class: 'sl-c-button'
%button.sl-c-button(type='button') Кнопка

= link_to 'Ссылка', '#', class: 'sl-c-button sl-c-button--primary'
%button.sl-c-button.sl-c-button--primary(type='button') Кнопка

%h2 Выноски
.sl-c-callout
  %h3 Выноска
  %p= lorem.paragraph

.sl-c-callout.sl-c-callout--warning
  %h3 Внимание
  %p= lorem.paragraph

.sl-c-callout.sl-c-callout--fun-fact
  %h3 Интересный факт
  %p= lorem.paragraph

%h2 Введение
%p.sl-c-introduction= lorem.paragraph

.sl-c-introduction
  %p= lorem.paragraph

%h2 Заголовки ссылок
%h2#link-header-2
  Ссылка заголовок 2

%h3#link-header-3
  Ссылка заголовок 3

%h4#link-header-4
  Ссылка заголовок 4

%h2 Списки
.sl-c-list-navigation-wrapper
  :markdown
    - [Вертикальный](#)
    - [Навигация](#)
    - [Список](#)

.sl-c-list-horizontal-wrapper
  :markdown
    - [Горизонтальный](#)
    - [Навигация](#)
    - [Список](#)

%h2 Поп-полоса
.sl-c-pop-stripe

%h2 Таблицы
%table.sl-c-table
  %tr
    %td Таблица
    %td Таблица
